ul {
    list-style-type: none;
    padding: 0;
}

.clickable {
    background-color: white;
}

.clickable:hover {
    cursor: pointer;
    background-color: yellow;
}

li {
    padding: 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    min-height: 2em;
}

nav > ul > li {
    min-height: 5em;
}

.selected {
    background-color: lightgrey;
}
